@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&family=Roboto&display=swap');
body{
    background-color: lightblue;
    font-family: 'Lato', sans-serif;
    /* background-image: url("/Client/Images/img.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.home{
    display: flex;
}
.container{
    margin: auto;
    display: block;
    color: purple;
    text-align: center;
    width: 700px;
    background-color: rgba(159, 57, 255, 0.657);
    height: 80vh;
    border-radius: 12px;
    overflow-y: scroll;
    font-size: 18px;
    
}

.container2{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    color: purple;
    width: 400px;
    margin-right: 2px;
    background-color: rgb(157, 64, 243);
    height: 80vh;
    border-radius: 12px;
    overflow-y: scroll;
}
hr{
    width: 300px;
}
.send{
    text-align: left;
}
.message{
    background-color: rgb(255, 255, 255);
    width: 40%;
    padding: 8px;
    margin: 17px;
    border-radius: 12px;
    border: 2px solid black;
}

.Right{
    float:right;
    clear: both;
}

.Left{
    float: left;
    clear: both;
}
.Center{
    text-align: center;
    float:center;
    clear: both;
}
#send-container{
    text-align: right;
    padding-top: 2em;
    margin-right: 10%;
}

input{
    background-color:rgb(207, 206, 206);
    width: 40%;
    height: 24px;
    border: 2px solid rgb(72, 72, 250);
    border-radius: 8px;
}
input:hover{
    border: 2px solid rgb(250, 80, 80);
}
.btn{
    cursor: pointer;
    color: purple;
    padding: 4px;
    border-radius: 12px;
    width: 80px;
    font-size: 16px;
    font-weight: 900;
}

@media only screen and (max-width: 850px) {
    body {
      background-color: lightblue;
    }
    .container2{
        visibility: hidden;
        width: 0;
        height: 0;
    }
    #send-container{
        text-align: center;
        margin-right: 0;
    }
    input{
        background-color:rgb(207, 206, 206);
        width: 60%;
    }
  }
